<link rel="stylesheet" href="/css/header.css">

<div class="nav">
    <div class="title"> 
        <a href="/">Habit Tracker</a>
    </div>
     
    <div class="nameOfUser">Default User</div>
     
</div>